$menuBg: white;
$menuHover:#F0F8FB;
$subMenuBg: white;
$subMenuHover: #F0F8FB;

$menuText: #333;
$menuActiveText: #333;
$subMenuActiveText: #333;

$sideBarWidth: 210px;
$hideSidebarWidth: 64px;

$darkBlue: #324157;

:export {
    menuBg: $menuBg;
    menuHover: $menuHover;
    subMenuBg: $subMenuBg;
    subMenuHover: $subMenuHover;
    menuText: $menuText;
    menuActiveText: $menuActiveText;
    subMenuActiveText: $subMenuActiveText;
    sideBarWidth: $sideBarWidth;
    hideSidebarWidth: $hideSidebarWidth;
    darkBlue: $darkBlue;
}